.container {
    display: flex;
    width: 500px;
    margin: 10px 0;

    background-color: rgb(240, 240, 240);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 5px;
}

.mainInfo {
    display: flex;

    .title {
        padding-right: 5px;
        font-weight: 500;
    }

    .year {
        color: rgb(129, 129, 129);
    }
}

// Line-clamping
.description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.poster {
    width: 100px;
    height: auto;
    object-fit: contain;
}

.addBtn {
    margin-left: auto;
}
