.container {
    margin: 20px;
}

.searchContainer {
    display: flex;
    width: min-content;
    margin-bottom: 15px;
}

.textInput {
    display: block;
    padding: 5px;
    color: #8d8d8d;
    background-color: #161b22;
    border: 2px solid #242833;
    border-radius: 5px;
    font-size: 18px;
}

.description {
    min-height: 100px;
    min-width: 400px;
    max-height: 300px;
    max-width: 600px;
    margin: 15px 0;
}

.sortBySelect {
    background-color: #161b22;
    color: #8d8d8d;
    border: 2px solid #242833;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 8px;
}

.publishBtn {
    background-color: transparent;
    border: 2px solid #242833;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    padding: 8px;
}

.publishBtn:hover {
    color: rgb(204, 204, 204);
}

@media only screen and (max-width: 1000px) {
    .container {
        margin: 20px;
    }
}

@media only screen and (max-width: 800px) {
    .description {
        min-width: 100%;
        max-width: 100%;
    }

    .search {
        width: 50vw;
        max-width: 250px;
    }
}
