.mainContainer {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    width: 80%;
}

.mainText {
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    max-width: 400px;
}

.leftContainer {
    display: flex;
    flex-direction: column;
}

.createBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    color: #fff;
    font-size: 16px;
    padding: 8px 24px;
    border: none;
    border-radius: 20px;
    background-color: #b51f24;
    cursor: pointer;
    --fillColor: #fff;
}

.createBtn:hover {
    color: rgb(204, 204, 204);
}

.createBtn > svg {
    height: 22px;
    width: 22px;
    margin-left: 8px;
}

.createBtn:hover > svg {
    --fillColor: rgb(204, 204, 204);
}

.heroContainer {
    position: relative;
    width: min-content;
}

.shapeContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.mainImage {
    position: relative;
    width: 250px;
    z-index: 10;
}

.circle {
    position: absolute;
    left: -25px;
    top: -25px;
    width: 80%;
    height: 80%;
    background-color: #b51f2488;
    border-radius: 100px;
}

.square {
    position: absolute;
    right: -25px;
    bottom: -25px;
    width: 75%;
    height: 75%;
    background-color: #24356e88;
}

@media only screen and (max-width: 800px) {
    .container {
        justify-content: center;
    }

    .red {
        color: #e01e24;
    }

    .blue {
        color: #214bd6;
    }

    .mainText {
        margin: 0 8px;
        font-size: 42px;
    }

    .createBtn {
        margin-top: 40px;
        font-size: 14px;
    }

    .createBtn > svg {
        height: 20px;
        width: 20px;
    }

    .mainImage {
        display: none;
    }

    .leftContainer {
        text-align: center;
        align-items: center;
    }
}
