.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    flex-grow: 1;
    margin-top: 50px;
}

.container {
    width: 50%;
    height: 100%;
}

.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

@media only screen and (max-width: 800px) {
    .container {
        width: 80%;
    }
}
