.mainInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleContainer {
    display: flex;
    position: relative;
    align-items: center;
}

.title {
    font-size: 26px;
}

.vertMenu {
    margin-right: 6px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 4px 0 0 0;
    --fillColor: #fff;
}

.vertMenu:hover {
    --fillColor: rgb(204, 204, 204);
}

.vertMenuImg {
    height: 25px;
}

.deleteBtn {
    position: absolute;
    bottom: -50px;
    right: -8px;
    padding: 10px;
    cursor: pointer;
}

.deleteBtn:hover {
    color: rgb(204, 204, 204);
}

.userContainer {
    display: flex;
    align-items: center;
}

.userDate {
    font-size: 14px;
    margin-left: 6px;
}

.timeCreated {
    color: #8d8d8d;
}

.description {
    color: #8d8d8d;
    margin: 30px 0;
    word-wrap: break-word;
}

.usernameBtn {
    background-color: transparent;
    border: none;
    padding: 0;
    color: inherit;
    cursor: pointer;
}

.usernameBtn:hover {
    color: rgb(204, 204, 204);
    text-decoration: underline;
}

.userImg {
    height: 40px;
    border-radius: 100px;
    cursor: pointer;
}
