.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.modalBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    position: fixed;
    z-index: 100;
    width: min-content;
    min-width: 500px;
    border-radius: 10px;
    background-color: #0d1117;
    box-shadow: 0 8px 24px #010400;
}

.headerSpacing {
    padding: 200px 60px 40px 60px;
}

.headerNoSpacing {
    padding: 60px;
}

.closeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -25px;
    right: -35px;
    z-index: 150;
    height: 30px;
    width: 30px;
    padding: 0px;
    cursor: pointer;
    background-color: transparent;
    --fillColor: #fff;
    border: none;
}

.closeBtn:hover {
    --fillColor: rgb(204, 204, 204);
}

.closeBtn > svg {
    height: inherit;
    width: inherit;
}

.backdrop {
    position: absolute;
    overflow: hidden;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100%;
}

.backdropImg {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.backdropTransition {
    position: relative;
    bottom: 100px;
    height: 100px;
    background: linear-gradient(#0d111700, #0d1117);
}

.mainContent {
    position: relative;
    z-index: 101;
}

.overview {
    font-size: 14px;
    margin-top: 15px;
    color: #8d8d8d;
}

.title {
    font-size: 24px;
}

.year {
    font-size: 18px;
    color: #8d8d8d;
}

.runtimeGenres {
    margin: 10px 0px;
    color: #8d8d8d;
    font-size: 14px;
}

.youtubeSmall {
    min-height: 225px;
    min-width: 300px;
    display: none;
}

.youtubeLarge {
    min-height: 300px;
    min-width: 450px;
}

.movieLinksContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.movieLinks {
    font-size: 10px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #242833;
    border-radius: 4px;
    padding: 8px 14px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 10px;
}

.movieLinks:hover {
    color: rgb(204, 204, 204);
}

@media only screen and (max-width: 650px) {
    .modal {
        display: flex;
        justify-content: center;
        padding: 60px 40px 25px 40px;
        min-width: 0px;
        max-width: 100%;
    }

    .mainContent {
        max-width: 300px;
    }

    .closeBtn {
        right: 15px;
        top: 15px;
    }

    .backdrop {
        display: none;
    }

    .videoNotFoundImg {
        width: 300px;
    }

    .youtubeSmall {
        display: block;
    }

    .youtubeLarge {
        display: none;
    }
}
