.listContainer {
    display: flex;
    max-width: 100%;
    margin-top: 8px;
    padding: 6px;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
}

.listContainer:hover {
    outline: 2px solid #24283371;
    background-color: #2428330c;
}

.listInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    margin-left: 12px;
}

.mainInfoContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: inherit;
    max-width: inherit;
    margin-bottom: 12px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.timeAgo {
    font-size: 14px;
    color: #8d8d8d;
    text-align: end;
    margin-left: 2px;
}

.description {
    font-size: 14px;
    color: #8b949e;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
}

@media only screen and (max-width: 800px) {
    .title {
        font-size: 14px;
    }

    .timeAgo {
        font-size: 12px;
    }

    .description {
        font-size: 12px;
    }
}
