.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.pageTracker {
    font-size: 16px;
    color: #8d8d8d;
}

.chevron {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    --fillColor: #8d8d8d;
}

.chevron > svg {
    height: inherit;
    width: inherit;
}

.chevron:hover {
    --fillColor: #8d8d8dc4;
}

@media only screen and (max-width: 800px) {
    .chevron {
        height: 25px;
    }

    .pageTracker {
        font-size: 14px;
    }
}
