.container {
    position: absolute;
    top: 45px;
    right: 8px;
    padding: 15px 20px;
}

.dropdownActive {
    display: block;
}

.dropdownInactive {
    display: none;
}

.dropdownButton {
    color: inherit;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
}

.dropdownButton:hover {
    color: rgb(204, 204, 204);
}

.signedIn {
    color: #8d8d8d;
    margin-bottom: 3px;
}

.line {
    background-color: #242833;
    border: none;
    height: 2px;
}
