.container {
    position: absolute;
    top: 45px;
    right: 8px;
    width: max-content;
    color: #fff;
    background-color: #161b22;
    border: 1px solid #242833;
    border-radius: 10px;
    padding: 15px 20px;
}

.container::after {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #242833;
    top: -10px;
    right: 15px;
}

.dropdownActive {
    display: block;
}

.dropdownInactive {
    display: none;
}

.dropdownButton {
    color: inherit;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
}

.dropdownButton:hover {
    color: rgb(204, 204, 204);
}

.signedIn {
    color: #8d8d8d;
    margin-bottom: 3px;
}

.line {
    background-color: #242833;
    border: none;
    height: 2px;
}
