.container {
    display: flex;
    position: relative;
    width: fit-content;
    align-items: center;
}

.user {
    display: flex;
    align-items: center;
}

.userImg {
    border-radius: 100px;
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.dropdownButton {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.dropdownButton:hover .dropdownArrow {
    border-top-color: rgb(204, 204, 204);
}

.dropdownArrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
}
