.mainContainer {
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 10;
    top: 0px;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #242833;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
    width: 100%;
}

.mobileContainer {
    display: none;
    width: 100%;
    min-height: 40px;
}

.tempLogo {
    height: fit-content;
    color: #fff;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.navRightContainer {
    display: flex;
    align-items: center;
}

.mobileMenuBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hamburgerIcon {
    width: 30px;
}

.closeIcon {
    width: 30px;
}

.mobileDropdown {
    width: 100%;
    padding: 0px 6px;
}

@media only screen and (max-width: 600px) {
    .mainContainer {
        background-color: #161b22;
    }

    .container {
        display: none;
    }

    .mobileContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
