.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 1000px;
}

@media only screen and (max-width: 1000px) {
    .container {
        width: 100%;
    }
}
