.container {
    width: 400px;
    display: flex;
    flex-direction: column;

    margin-bottom: 60px;
    padding: 20px;
    overflow-y: scroll;
}

.item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
    color: #fff;
    font-size: 18px;
}

.year {
    color: #8d8d8d;
    margin-left: 7px;
}

.removeBtn {
    color: #2e333f;
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.removeBtn:hover {
    color: #242833;
}
